@import 'tailwindcss';

@theme {
  --color-sec: #A6D1C9;
  --color-prim: #FD7944
}

:root {
  font-family: 'Trebuchet MS';
  color: #A6D1C9;
  background-color: #282B29;
}

::selection {
  color: #EAEDED;
  background-color: #333333;
}

